*{
    margin: 0;
    padding: 0;
}


body{
    background-color:  #e8f1f0;
}

a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: black;
}

.d-flex{
    margin-right: 30%;
}
.d-flex .form-control{
    width: 300px;
}

.col{
    width: 100%;
    height: auto;
}
.carousel-inner{
    width: 100%;
    height: 400px;
    
}
.carousel-item {
    width: 100%;
    height: 400px;

}
.separator {
    margin: 20px 0;
    border-top: 1px solid #CCCCCC;
    position: relative;
}

.separator-text {
    display: block;
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -72px;
    padding: 0px 10px;
    background: #e8f1f0;
    color: #8a8a8a;
}
.form-check-input{
size: 100px;
}

#makanan-berat-anak{
    padding-bottom: 15%;
}
#makanan-ringan{
    padding-bottom: 18%;
}

#show{
    margin-top: 13%;
}

.desk{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: small;
}

icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    background-color: #fff;

    
}

.quantity-field{
    background-color: #e8f1f0;

}

#makanan-berat-anak a{
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
#makanan-berat-anak a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: .5;
}
#makanan-ringan a{
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
#makanan-ringan a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: .5;
}
#minuman a{
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
#minuman a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: .5;
}

.ket{
    font-weight: 700;
    text-align: center;
 border-radius: 50px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 -ms-border-radius: 50px;
 -o-border-radius: 50px;
}
.col-5 img{
    transition: .7;
    box-shadow: 2px 2px 5px #000;
    -webkit-transition: .7;
    -moz-transition: .7;
    -ms-transition: .7;
    -o-transition: .7;
}
.col-5 img:hover{
    transform:scale(1.1) rotate(20deg);
    -webkit-transform:scale(1.1) rotate(20deg);
    -moz-transform:scale(1.1) rotate(20deg);
    -ms-transform:scale(1.1) rotate(20deg);
    -o-transform:scale(1.1) rotate(20deg);
}

#quantity{
    border: none;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}